.character-info-card {
  width: 70%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  background-image: url('../../../assets/img/character_info_card_bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  &__cards {
    display: grid;
    grid-template: repeat(2,1fr)/repeat(4,1fr);
    position: relative;
    top: 10%;
  }
}